@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-italic.otf") format("opentype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-mediumitalic.otf") format("opentype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-demi.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-demiitalic.otf") format("opentype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-bolditalic.otf") format("opentype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-xbold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-xbolditalic.otf") format("opentype");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Dashiell Bright';
	src: url("fonts/dashiellbright-blackitalic.otf") format("opentype");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Neue Montreal';
	src: url("fonts/ppneuemontreal-book.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Neue Montreal';
	src: url("fonts/ppneuemontreal-italic.otf") format("opentype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Neue Montreal';
	src: url("fonts/ppneuemontreal-medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

body, html {
	background: #f7f4ec;
	height: 100%;
}
header {
	padding: 0px 0px 0px 50px;
}

.tabs {
	border: 1px solid #333232;
}

.tablink {
	background: #f7f4ec;
	float: left;
	border: 0px;
	outline: none;
	cursor: pointer;
	color: #e66f9f;
	padding: 5px;
	margin: 5px 5px 0px 0px;
	font-family: "Dashiell Bright";
	font-weight: 800;
	font-style: normal;
	font-size: 24px;
}

.tablink:hover {
	color: #f7f4ec;
	background: #e66f9f; 
}

.tabcontent {
	background: #f7f4ec;
	display: none;
	padding: 50px 0px 0px 50px;
	height: 100%;
	width: 100%;
}

.container {
	border: 1px solid #333232;
	border-radius: 8px;
	padding: 5px;
	max-width: 750px;
}

.topnav {
	padding: 5px 0px;
	background: #f7f4ec;
	overflow: hidden;
}

.topnav a {
	display: block-inline;
	color: #e66f9f;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	margin: 5px 5px 5px 0px;
	font-family: "Dashiell Bright";
	font-weight: 800;
	font-style: normal;
	font-size: 18px;
}

.topnav a:hover {
	color: #f7f4ec;
	background: #e66f9f; 
}

p, li {
		font-family: "Neue Montreal", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: #333232;
		max-width: 750px; 	
}

h1 {
	font-family: "Dashiell Bright", serif;
	font-weight: 900;
	font-style: normal;
	color: #eb8672;
	display: block;
}

h2 {
	font-family: "Dashiell Bright", serif;
	font-weight: 800;
	font-style: normal;
	color: #cdb35e;
}

h3 {
	font-family: "Dashiell Bright", serif;
	font-weight: 700;
	font-style: normal;
	color: #cdb35e;
}

.subsection-heading {
	font-family: "Dashiell Bright", serif;
	font-weight: 500;
	font-style: normal;
	color: #333232;
}

details > summary {
	list-style: none;
}

b {
	font-family: "Dashiell Bright", serif;
	font-weight: 600;
	font-style: normal;
}